name: Traffic Metrics
on:
  schedule: [{cron: "0 16 * * *"}] # 每天北京时间 00:00 更新
  workflow_dispatch:               # 允许手动点击运行
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # 调用你在 Secrets 里配置的 Token
          token: ${{ secrets.METRICS_TOKEN }}

          # --- 基础配置 ---
          user: zhangsan       # <---【⚠️一定要改成你的 GitHub 用户名】
          template: classic
          base: ""             # 关闭基础信息，专注显示流量
          config_timezone: Asia/Shanghai
          filename: github-metrics-traffic.svg

          # --- 开启流量统计插件 ---
          plugin_traffic: yes
